<div class="table">
  <div>
    <div *ngFor="let title of titles" class="table-title">
      <div
        (click)="sortData(title.id)"
        [ngClass]="{
          'sort-asc': sortProperty === title.id && sortDirection === 'asc',
          'sort-desc': sortProperty === title.id && sortDirection === 'desc'
        }"
      >
        {{ title.id }}
      </div>
      <div
        (click)="sortData(title.name)"
        [ngClass]="{
          'sort-asc': sortProperty === title.name && sortDirection === 'asc',
          'sort-desc': sortProperty === title.name && sortDirection === 'desc'
        }"
      >
        {{ title.name }}
      </div>
      <div
        (click)="sortData(title.changeProperty)"
        [ngClass]="{
          'sort-asc':
            sortProperty === title.changeProperty && sortDirection === 'asc',
          'sort-desc':
            sortProperty === title.changeProperty && sortDirection === 'desc'
        }"
      >
        {{ title.changeProperty }}
      </div>
      <button class="circle-btn add" (click)="add.emit()">&#x2795;</button>
    </div>
  </div>
  <div class="table-body">
    <div
      *ngFor="
        let item of items | paginate : { itemsPerPage: 5, currentPage: p }
      "
      class="table-item"
    >
      <div>{{ item.id.slice(0,5) }}</div>
      <div>{{ item.name }}</div>
      <div>{{ item.price | currency : "₴" }}</div>
      <div>
        <button class="circle-btn" (click)="this.edit.emit(item)">&#x270D;</button>
        <button class="circle-btn" (click)="this.delete.emit(item)">&#x274C;</button>
      </div>
    </div>
    <pagination-controls
      (pageChange)="p = $event"
      class="table-bottom"
    ></pagination-controls>
  </div>
</div>
